body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  background-color: #000000 !important;
  color: #FFFFFF !important;

}

.price {
  text-align: right;
  width:150px;
  color: #FFFFFF;
}

.symbol {
  width:100px;
  color:#FFFFFF;
}

.lastUpdate {
  font-size:small;
  color:grey;
}

.asset {
  color:grey;
  text-align:right;
}

.assetTotal {
  color:grey;
}

.white {
  color:#FFFFFF;
}

.arrow-up {
  padding-left:5px;
  color: #0f5132;
}

.arrow-down {
  padding-left:5px;
  color: #842029;
}

.arrow {
  padding-left:5px;
  color: #ffffff;
  width:35px;
}

.chartCell {
  max-height: 40px;
}